body {

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

}

header {
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    background-color: #2E2F42;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #2E2F42;
}

h3 {
    text-align: left;
    font-size: 20px;
    color: #2E2F42;
}

.logo-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;

}

.logo-link .logo-link-span {
    color: #2E2F42;
}

.page-nav,
.link-nav {
    font-weight: 500;
    color: #2E2F42;
    list-style-type: none;
    text-decoration: none;

}

.page-nav .link-nav:hover,
.page-nav .link-nav:active,
.page-nav .link-nav:focus {
    color: #404BBF;
    text-decoration: underline;
}

.page-address {
    list-style-type: none;
}

.link {
    font-size: 12px;
    line-height: 1.33;
    text-decoration: none;
}

.page-address .link:hover,
.page-address .link:focus {
    color: #4D5AE5;
}

.button,
.button:hover {
    color: #404BBF;
    font-size: 16px;
    line-height: 1.5;
}

.our-features {
    text-align: left;
    font-size: 36px;
    color: #2E2F42;
}

.our-team {
    text-align: center;
    font-size: 36px;
    color: #2E2F42;
    background-color: #E7E9FC;
}

.hero-background .hero-image-background {
    background-color: #2E2F42;
}

.team {
    text-align: center;
    font-size: 20px;
    color: #2E2F42;
}

.department {
    text-align: center;
}