/* .logo-link:hover,
.logo-link:focus {} */

.page-nav .link:hover,
.page-nav .link:active {
    color: #404BBF;
}

.page-address .link:hover {
    color: #404BBF;
}

.title {
    text-align: center;
}

.team {
    text-align: center;
}

.department {
    text-align: center;
}

span {
    color: black;
}