body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}

header {
  background-color: #ffffff;
}

nav ul {
  list-style-type: none;
}

nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #2e2f42;
  text-decoration: none;
}

nav a:hover,
nav a:active,
nav a:focus {
  color: #404bbf;
}

address ul {
  list-style-type: none;
}

address a {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  text-decoration: none;
}

address a:hover,
address a:active,
address a:focus {
  color: #404bbf;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.07;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
  color: #2e2f42;
}

h3 {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  color: #2e2f42;
}

button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

footer {
  background-color: #2e2f42;
}

.logo-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.logo-link .logo-link-span {
  color: #2e2f42;
}

.hero-background {
  background-color: #2e2f42;
}

.our-features {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.our-features-description {
  list-style-type: none;
}

.section-our-team {
  background-color: #f4f4fd;
}

.list-our-team {
  list-style-type: none;
}

.team-card-backgrounds {
  background-color: #fff;
}

.team {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.department {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.list-our-portfolio {
  list-style-type: none;
}

.logo-link-span-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
